.App {
 text-align: center;
}

.dataForm{
  height: 120px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a1fccc;
}

.input{
  width: 220px;
  height: 18px;
  margin: 10px;
  padding:10px;
  font-size: 12px;
}

.submit{
  width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
  background-color:#03a1fccc;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  cursor: pointer;
}

.container{
  width: 1350px;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}

.table{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(143, 143, 143, 0.739);
  border-left: 1px solid rgba(143, 143, 143, 0.739);
  margin-top: 2vh;
  position: relative;
  height: 100%
}

.donutchart{
  width: 600px;
  height: auto;
  position: relative;
  margin-top: -80px;
}

.delete{
  width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
  background-color:#03a1fccc;
  color: rgb(255, 1, 1);
  border: 2px solid white;
  font-weight: 900;
  cursor: pointer;
}

.frame{
  display: flex;
  width:auto;
  border: 0px;
}

h1{
  margin-bottom: 15vh;
}

h2{
  border: 1px solid rgba(143, 143, 143, 0.739);
  border-top: 0px;
  border-left: 0px;
  width: 170px;
  height: 30px;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(59, 59, 59, 0.749);
  padding-left: 10px;
  justify-content: flex-start;
}

.participation{
  width: 125px;
  justify-content: center;
  padding: 0;
}

.index{
  width: 40px;
  justify-content: center;
  padding: 0;
}

.index2{
  width: 40px;
  height: 35px;
  justify-content: center;
  padding: 0;
}

.title{
  font-size: 14px;
  height: 35px;
  font-weight: 900;
}

.participation2{
  font-size: 14px;
  font-weight: 900;
  height: 35px;
  width: 125px;
  justify-content: center;
  padding: 0;
}

.lname{
  width: 190px;
  text-align: start;
  padding-left: 10px;
  justify-content: flex-start;
}

.lname2{
  font-size: 14px;
  font-weight: 900;
  height: 35px;
  width: 190px;
  padding-left: 10px;
  justify-content: flex-start;
}

@media only screen and (max-width: 1280px) {
  
  .dataForm{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03a1fccc;
  }
   
  .input{
    width: 20vw;
    height: auto;
  }

  h2,
  .title,
  .participation,
  .participation2,
  .lname,
  .lname2{
    width: 25vw;
    max-width: 170px;
    font-size: 10px;
  }

  .table{
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
   
  }
  
  .donutchart{
    width: 90vw;
    height: auto;
    max-width: 600px;
    margin: auto;
    position: relative;
    display: flex;
    margin-bottom: 20px;
  }

  .container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
}

