.App {
  text-align: center;
}

html{
  width: 100vw;
  height: 100vh
}

.dataForm{
  height: 120px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03a1fccc;
}

.input{
  width: 220px;
  height: 18px;
  margin: 10px;
  padding:10px;
  font-size: 12px;
}

.submit{
  width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
  background-color:#03a1fccc;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  cursor: pointer;
}

.table{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(143, 143, 143, 0.739);
  border-left: 1px solid rgba(143, 143, 143, 0.739);
  margin-left: 7vw;
  margin-top: 2vh;
  width: auto;
  position: fixed;
}

.delete{
  width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
  background-color:#03a1fccc;
  color: rgb(255, 1, 1);
  border: 2px solid white;
  font-weight: 900;
  cursor: pointer;
}

.pie{
  margin-left: 45vw;
  margin-top: -5vh;
  position: fixed
}

.frame{
  display: flex;
}

h2{
  border: 1px solid rgba(143, 143, 143, 0.739);
  border-top: 0px;
  border-left: 0px;
  width: 150px;
  height: 30px;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(83, 83, 83);
  padding-left: 10px;
  justify-content: flex-start;
}

.participation{
  width: 120px;
  justify-content: center;
  padding: 0;
}

.index{
  width: 40px;
  justify-content: center;
  padding: 0;
}

.index2{
  width: 40px;
  height: 35px;
  justify-content: center;
  padding: 0;
}

.title{
  font-size: 14px;
  height: 35px;
  font-weight: 900;
}

.participation2{
  font-size: 14px;
  font-weight: 900;
  height: 35px;
  width: 120px;
  justify-content: center;
  padding: 0;
}

.lname{
  width: 170px;
  text-align: start;
  padding-left: 10px;
  justify-content: flex-start;
}

.lname2{
  font-size: 14px;
  font-weight: 900;
  height: 35px;
  width: 170px;
  padding-left: 10px;
  justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  

  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto
  }
  
  .dataForm{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03a1fccc;
  }
   
  .title,
  h2{
    width: 150px;
    font-size:12px;
  }
  
  .input{
    width: 20vw;
  }

  .table{
    position: relative;
    width: auto;
    margin: auto;
  }
  
  .pie{
    position: relative;
    margin: auto;
    margin-top: 40pt
  }

  .frame{
    width: auto
  }
}